body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#ff7c01,#000000);
}

.ContenedorRegistro{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.ContenedorRegistro .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.ContenedorRegistro .title::before{
    content: "";
    position:absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg,#000000,#ff7c01);
}

